# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JM\react-typescript\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
